* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 0;
  margin: 0;
}

.todoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  color: #2c3e50;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.addButtonContainer {
  border-radius: 1rem;
  background-color: #ecf0f1;
  padding: 1rem;
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addButtonContainer > button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.addButtonContainer > button:hover {
  background-color: #3498db;
}

.todoContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  font-weight: 600;
}

thead {
  background-color: #2980b9;
  color: white;
  font-weight: bold;
}

tbody {
  background-color: #ecf0f1;
}

.updateModel {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #e74c3c;
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  max-width: 90%;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input,
select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  padding: 12px 20px;
  font-size: 1rem;
  margin-top: 10px;
  color: #2c3e50;
  transition: border 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #2980b9;
}

button.modelbutton {
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button.modelbutton:hover {
  background-color: #3498db;
}

.update,
.delete {
  cursor: pointer;
}

.update {
  color: green;
}

.delete {
  color: red;
}

@media (max-width: 768px) {
  .todoContainer {
    width: 100%;
  }

  table {
    font-size: 0.9rem;
  }

  .addButtonContainer {
    flex-direction: column;
    align-items: center;
  }

  .updateModel {
    width: 100%;
    max-width: 95%;
  }
}
