.avatar {
  width: 3rem;
  height: 3rem;
  background-color: red;
  border: 2px solid white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 50%;
  position: relative;
}

.avatar > span {
  position: absolute;
  top: -5px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  background-color: red;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
