body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parrentWrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightcyan;
}

.avtarWrapper{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

button{
  width: 3rem;
  height: 3rem;
  background-color: red;
  border: 2px solid white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 50%;
}